
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserPollVoteLabel">Create or edit a User Poll Vote</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.userPollVote.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.userPollVote.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_isCorrectVote">Is Correct Vote</label>
                <input type="checkbox" name="isCorrectVote" id="field_isCorrectVote"
                          ng-model="vm.userPollVote.isCorrectVote"/>
            <div ng-show="editForm.isCorrectVote.$invalid">
                <p class="help-block"
                    ng-show="editForm.isCorrectVote.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_userProfile">User Profile</label>
            <select class="form-control" id="field_userProfile" name="userProfile" ng-model="vm.userPollVote.userProfile" ng-options="userProfile as userProfile.alias for userProfile in vm.userprofiles track by userProfile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_predictionResponse">Prediction Response</label>
            <select class="form-control" id="field_predictionResponse" name="predictionResponse" ng-model="vm.userPollVote.predictionResponse" ng-options="predictionResponse as predictionResponse.prediction.predictionTitle + ' - ' + predictionResponse.answer for predictionResponse in vm.predictionresponses track by predictionResponse.id" required>
            </select>
        </div>
        <div ng-show="editForm.predictionResponse.$invalid">
            <p class="help-block"
                ng-show="editForm.predictionResponse.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
